body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 40px;
  padding-top: 140px;
  color: white;
  text-shadow: black 2px 2px 10px;
}
h2 {
	margin: 15px 0 0 0;
	letter-spacing: 1px;
	font-weight: bolder;
}
header {
	background-image: url(../img/header.jpg);
	background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #464646;
  height: 400px;
}
p{
	font-weight: bolder;
	font-size: 23px;
	color: white;
}
a {
	margin: 12px 0;
	color: lightcoral;
	line-height: 35px;
}
footer {
	background-color: #00A9AB;
	position: absolute;
	width: 100%;
}
footer p {
	font-size: 19px;
}
p span {
	color: #353536;
}
.trigger .fa {
	font-size: 50px !important;
	margin-top: 10px;
	float: inherit;
}
.trigger p {
	color: #353536;
	margin: 0;
	font-size: 17px;
}

.fa {
	font-size: 40px !important;
	cursor: pointer;
}

/* ==== Wrapper Style ==== */
.full-width {
	background-color: #00A9AB;
	width: 100%;
}

.info-container {
	max-width: 750px;
	margin: 0 auto;
	padding: 1px 5px;
}

/* ==== Module style ==== */
.module {
	padding: 1px 0;
	font-family: 'Lato', sans-serif;
}
.module strong {
	padding: 5px;
	font-size: 25px;
}
.module-gray {
	background-color: #E8E8E9;
}

.trigger {
	cursor: pointer;
	display: inline-block;
}










/* ==== Helpers ==== */

.hidden {
	display: none;
	border-bottom: solid rgba(53,53,54, .05) 10px;
	border-top: solid rgba(53,53,54, .05) 10px;
}



/* ==== Date and Hour Style ==== */

.date {
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 15px;
  font-size: 20px;
  color: #353536;
  text-shadow: white 1px 1px 1px;
}




/* ==== Russe Style ==== */

.module label {
  display: inline-block;
  font-size: 18px;
}

.module input {
  background-color: lightgray;
  border: none;
  margin: 5px;
  padding: 5px;
}
.module input[type=button] {
  background-color: #00A9AB;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}
.module input[type=button]:hover {
  opacity: .6;
}
.module input:focus {
  border: none;
  outline: none;
}
.output {
  padding: 25px;
  font-size: 22px;
}



/* ==== Iphone resets ==== */

input {
  -webkit-appearance: none;
}
input {
  -webkit-border-radius:0; 
  border-radius:0;
}

pre {
  background-color: lightcyan;
	white-space: pre-wrap; //css3
  white-space: moz-pre-wrap; //firefox
  white-space: -pre-wrap; //opera 4-6
  white-space: -o-pre-wrap; //opera 7
  word-wrap: break-word; //internet explorer
  
}
code {
	font-weight: bolder;
	font-size: 11px;
	background-color: lightcyan;
	margin: 0 auto;
  display: block;
  margin-top: 100px;
}

.lightbox {
	background-color: rgba(0,0,0,.9);
	text-align: left;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: auto;
	z-index: 1;
}


#close-code {
	position: fixed;
  top: 0;
  right: 0;
  margin: 35px;
  opacity: .6;
  color: #00A9AB;
}


#close-code:hover {
	opacity: 1;
}






/* Media queries */


@media only screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
  code {
    width: 600px; /*para desktop*/
  }
  code {
	  font-size: 14px;
    margin-top: 100px;
    padding: 15px;
  }
}
