body {
	font-family: Arial, Helvetica, sans-serif;
		margin: 0;
	padding: 0;
}

h1{
	text-align: center;
}

.test {
	background-color: #15C895;
	width: 50%;
	height: 100%;
	max-height: 400px;
	max-width: 500px;
	min-width: 250px;
	margin: 0 auto;
	text-align: center;
}
.test h2 {
	padding-top: 15px;
}
.test label {
	display: inline-block;
	font-size: 18px;
}

.test input {
	margin: 5px;
	padding: 5px;
	border: none;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
.test input[type=button]{
	background-color: #118B68;
	color: white;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	padding: 10px;
	cursor: pointer;
}
.test input[type=button]:hover {
	background-color: #118B79;
}
.test input:focus {
	outline: none;
	border: none;
}
#resultados {
	color: white;
	font-size: 25px;
	margin: 5px;
}
.images-slider {
	width: 100%;
	margin-top: 150px;
	height: auto;

}
.slides {
	display: inline-block;
    background-color: blue;
    height: 200px;
    width: 300px;
}

.hidden {
	display: none;
}